/*
* BH2014
* Built with Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
    font-family: 'Lato', sans-serif;
    background: #000 url(../images/Center-City-1024-black-blurred.jpg) top center fixed no-repeat;
    background-size: cover;
}

.left {float: left !important}
.right {float: right !important}

p:last-child {margin-bottom: 0}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h2 {margin-bottom: 30px}

a:link, a:visited {color: #cc6600; transition: color 0.3s ease;}
a:hover {color: #000}
nav a:link, nav a:visited {color: #000;}
nav a:hover {color: #cc6600}

nav {
    padding: 20px 0;
    position: fixed;
    height: 20px;
    line-height: 20px;
    z-index: 100;
    width: 100%;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f5f5f5;
    background-color: rgba(255,255,255,.9);
}

nav.desktop {display: block;}
nav.mobile {display: none;}

nav li {
    float: left;
    margin-right: 20px;
    font-weight: 900;
}

nav li a {
    text-decoration: none;
    color: #000;
}

.social {display: block; float: right; margin-right: 70px;}

.searchbar {
    z-index: 100;
    margin-top: -20px;
    right: 10px;
    position: absolute;
    height: 60px;
    background-color: #cc6600;
    cursor: pointer
}
.searchbar i {float: left; margin: 20px; color: #f5f5f5}
.searchform {float: left; width: 75%;}
.searchform input {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-top: 18px;
    margin-right: 20px;
    background: none;
    border: none;
    display: none;
}
.searchform input:focus {outline: none; border: none; box-shadow: none; color: #fff;}

.searchbar.expanded {
    background-color: #cc6600;
    width: 100%;
    cursor: auto;
}
.searchbar.expanded i {color: #f5f5f5;}
.searchbar.expanded input {display: block}


::-webkit-input-placeholder {
   color: rgba(0,0,0,.5); 
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,.5);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,.5);
}

:-ms-input-placeholder {  
   color: #000; color: rgba(0,0,0,.5); 
}


header {
    padding: 84px 0 30px 0;
    background-color: #000;
    background-color:  rgba(0,0,0,.4);
}

header img {
    margin: 10px 20px 0 5px;
    height: 60px;
    width: 60px;
    float: left;
}

header h1 {
    font-size: 37px;
    word-spacing: 10px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin: 5px 0 0 0;
    line-height: 1;
}

header p {
    font-size: 20px;
    font-weight: 400;
    margin: 7px 0 0 0;
    font-family: 'Lato', sans-serif;
    color: #f5f5f5;
}

section {
    padding: 30px 0;
}

section.white {
    background-color: #f5f5f5;
}

section.semi {
    background-color: #d6d6d6;
    background-color:  rgba(255,255,255,.7);
}

section.transparent {
    background-color: transparent;
}

section.secondary ul {list-style: square; margin-left: 18px}

section.secondary ul li span:before {content: '\A'; white-space: pre;}

section img {
    max-width: 100%;
    height: auto;
}

/*
section a img {
    opacity:.8;
    transition: opacity 0.5s ease;
}
section a:hover img {
    opacity:1;
}
*/

.one-third.column, .four.columns {min-height: 152px; margin-bottom: 20px}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin: 0 0 20px 0;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

textarea {width: 100%;}

.good {
    background-color: #4cd964;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin: 1px;
}
.bad {
    background-color: #8e8e93;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin: 1px;
}

a.button, button a {color: #fff}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background-color: #cc6600;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom:#000 solid 1px; 
    text-shadow: none;
    font-size: 1.1em;
    margin-top: 0;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-color: #cc6600;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom:#000 solid 0px;
    text-shadow: none;
    font-size: 1.1em;
    margin-top: 1px;
}

section.dark, footer {
    background-color: rgba(0,0,0,.6);
    color: #f5f5f5;
}
footer {
    padding: 20px 0;
    font-weight: 900;
}

section.dark h1, section.dark h2, section.dark h3, section.dark h4, section.dark h5, section.dark h6 {color: #f5f5f5;}

section.dark a:hover {color: #ffffff}

footer p {margin: 0}
footer a:link, footer a:visited {color: #f5f5f5}
footer a:hover {color: #cc6600}


/* #Page Styles
================================================== */

.hero {
    display: block;
    width: 100%;
    padding: 165px 0 110px 0;
}

.hero img {
    float: left;
    margin: 10px 60px 0 0;
    height: 125px;
    width: 125px;
}

.hero h1 {
    font-family: 'Lato', sans-serif;
    font-size: 84px;
    margin: 0;
    word-spacing: 30px;
}

.hero p {
    font-size: 45px;
    font-weight: 400;
    margin: 20px 0 0 10px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
        body {
            background: #000 url(../images/Center-City-1024-black-blurred.jpg) top center fixed no-repeat;
            background-size: cover;
        }
        
        .hero {padding: 110px 0 60px 0}

        .hero img {
            margin: 10px 40px 0 0;
            height: 100px;
            width: 100px;
        }

        .hero h1 {
            font-size: 67px;
        }

        .hero p {
            font-size: 37px;
            font-weight: 400;
            margin: 15px 0 0 10px;
        }
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
        body {background-size: cover}
        
        nav.desktop {display: block; position: absolute;}
        
        .social {margin-right: 60px;}
        
        .searchbar {right: 0}
        
        .hero h1 {font-size: 67px}

        .hero p {
            font-size: 37px;
            font-weight: 400;
            margin: 15px 0 0 0;
        }
    }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        body {background-attachment: scroll; background-repeat: no-repeat}
        
        nav.desktop {display: none}
        nav.mobile {display: block; position: absolute;}
        nav .container {width: 100%}
        nav li {margin-right: 20px;}
        nav ul {padding-left: 20px}
        
        .social {margin-right: 70px;}
        .searchbar {right: 0}
        
        header, .hero {
            padding: 75px 0 20px 0;
        }
        
        header img, .hero img {
            margin: 5px 20px 0 5px;
            height: 60px;
            width: 60px;
        }
        
        header h1, .hero h1 {
            font-size: 37px;
            word-spacing: 10px;
        }

        header p, .hero p {
            margin: 7px 0 0 0;
        }
        header p, .hero p {
            font-size: 20px;
            font-weight: 400;
        }
        
        section.semi {background-color: #d6d6d6}
        
        .panel-grid img {margin: 0 auto}
        
        .left {float: none !important}
        .right {float: none !important}
        
        .one-third.column {min-height: 0; margin-bottom: 20px}
    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        body {background-attachment: scroll; background-repeat: no-repeat}        
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        body {background-attachment: scroll; background-repeat: no-repeat}
        
        header img {
            margin: 5px 15px 0 5px;
            height: 50px;
            width: 50px;
        }
        
        .hero {text-align: center;}
        
        .hero img {
            margin: 23px auto;
            height: 110px;
            width: 110px;
            float: none;
        }
        
        header h1 {
            font-size: 26px;
            word-spacing: 5px;
            margin-top: 5px;
        }
        .hero h1 {
            font-size: 30px;
            word-spacing: 5px;
            margin-top: 5px;
        }
        
        header p {
            font-size: 14px;
            margin: 5px 0 5px 0;
        }
        .hero p:last-child {
            font-size: 16px;
            margin: 7px 0 15px 0;
        }
        
        .left {float: none !important}
        .right {float: none !important}
    }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/